<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <section class="loading-section">
        <div class="loading-wrapper">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        
            <div class="sk-chase-2">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>
    </section>
    <section class="main-section">
        <div class="main-container">
            <div class="title-div mb-5">
                <h1 class="font-italic">Well Mined Dashboard</h1>
                <p>Data Last Scraped on {{ last_crawling_date }}</p>
            </div>

            <div class="global-search-wrapper">
                <div class="input-group col-lg-4 col-md-6 col-sm-8 col-xs-12 mr-auto ml-auto mb-5">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary dropdown-toggle pink-bg global-search-sel-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-value="All">All</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-value="product_name">Product</a>
                            <a class="dropdown-item" href="#" data-value="product_url">Product URL</a>
                            <a class="dropdown-item" href="#" data-value="brand">Brand</a>
                            <a class="dropdown-item" href="#" data-value="category">Category</a>
                            <a class="dropdown-item" href="#" data-value="last_price">Last Price</a>
                            <a class="dropdown-item" href="#" data-value="current_price">Current Price</a>
                            <a class="dropdown-item" href="#" data-value="discount">% Discount</a>
                        </div>
                    </div>
                    <input type="text" class="global-filter-input form-control" aria-label="Text input with dropdown button" placeholder="Global Search">
                </div>
            </div>

            <div class="criteria-search-wrapper mb-5 row">
                <div class="category-filter-wrapper filter-div input-group col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">Category</span>
                    </div>
                    <input type="text" class="form-control category_filter_input" placeholder="Category Filter">
                </div>

                <div class="brand-filter-wrapper filter-div input-group col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">Brand</span>
                    </div>
                    <input type="text" class="form-control brand_filter_input" placeholder="Brand Filter">
                </div>

                <div class="website-filter-wrapper filter-div input-group col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">Website</span>
                    </div>
                    <input type="text" class="form-control website_filter_input" placeholder="Website URL Filter">
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="input-group justify-content-between">
                        <div class="input-group-prepend">
                            <span class="input-group-text only-filter-span pink-bg">Bookmark Only?</span>
                        </div>
                        <div class="onoffswitch bookmark-onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="bookmarkonoffswitch" tabindex="0">
                            <label class="onoffswitch-label m-0" for="bookmarkonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="input-group justify-content-between">
                        <div class="input-group-prepend">
                            <span class="input-group-text only-filter-span pink-bg">Exclude Only?</span>
                        </div>
                        <div class="onoffswitch exclude-onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="excludeonoffswitch" tabindex="0">
                            <label class="onoffswitch-label m-0" for="excludeonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="product-table-wrapper d-none">
                <table id="products_table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Product URL</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Last Price</th>
                            <th>Current Price</th>
                            <th>Discount(%)</th>
                            <th>Bookmark</th>
                            <th>Exclude</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in data %}
                            <tr class="tr-row" id="{{product[0]}}">
                                <td>{{product[4]}}</td>
                                <td><a href="{{product[3]}}" target="_blank">{{product[3]}}</a></td>
                                <td>{{product[7]}}</td>
                                <td>{{product[6]}}</td>
                                <td>{% if product[16] %}{{'%0.2f'| format(product[16]|float)}}{% endif %} </td>
                                <td>{% if product[17] %}{{'%0.2f'| format(product[17]|float)}}{% endif %}</td>
                                <td>{% if product[18] %}{{'%0.2f'| format(product[18]|float)}}{% endif %}</td>
                                <td>
                                    <i class="bookmark-icon fa {% if product[14] %} fa-bookmark pink-color {% else %} fa-bookmark-o {% endif %} cursor-pointer" aria-hidden="true"><span class="d-none">{% if product[14] %} bookmarked {% endif %}</span></i>
                                </td>
                                <td>
                                    <i class="exclude-icon fa fa-times {% if product[15] %} text-danger {% endif %} cursor-pointer" aria-hidden="true"><span class="d-none">{% if product[15] %} exclude {% endif %}</span></i>
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>

        </div>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<!--<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>